body {
    font-family: Arial, sans-serif;
    color: beige;
    line-height: 1.6;
    margin: 100px;
    margin-top: 50px;
    padding: 0;
    background-color: darkslategrey;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.navbar-logo {
    flex: 2;
}

.navbar-items {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.navbar-item {

}

.bio {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}

.avatar {
    width: 100%;
}

.socials {

}

.project-overview {

    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;

}

.about-me{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
}

.ufc-image{
    width: 100%;
}