
.container {
    display: grid;
    grid-template-columns: 10rem 4fr 10rem;
    grid-template-rows: auto auto 1fr  auto;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "content content content"
    "footer footer footer";
    min-height: 100vh;
}


main {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 40px;
    grid-area: content;
    margin-left: 60px;
    margin-right: 60px;
}

header {
    grid-area: header;
    margin-left: 60px;
}

.title {
    margin-bottom: 10px;
}

footer{
    grid-area: footer;
    background-color: darkgrey;
}

.overview {
    font-size: 20px;
    line-height: 30px;
}


.image {
    position: relative;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.avatar {
    display: block;
    width: 100%;
    height: auto;


}

.github-link { 
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    background-color: black;
}
  
.image:hover .overlay {
    opacity: 75%;
}




/* @media(max-width: 900px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(5rem, auto) 1fr minmax(5rem, auto) auto;
        grid-template-areas: 
        "header"
        "nav"
        "content"
        "footer"
        ;
    }

} */