@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  overflow: hidden;
  font-family: monospace;
  min-height: 100vh;
  background-image: url(./assets/nujabesLight.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

body.dark {
  /* Background Image */
  background-image: url(./assets/nujabesDark.jpg);
  background-color: darkslategrey;
  background-position: right;
}

* {
  transition:
    background-color 0.5s ease,
    color 0.5s ease,
    border-color 0.5s ease;
}
