@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  overflow: hidden;
  font-family: "Space Mono", monospace;
  min-height: 100vh;
  background-image: url(/nujabesLight.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

body.dark {
  /* Background Image */
  background-image: url(/nujabesDark.jpg);
  background-color: darkslategrey;
  background-position: right;
}

* {
  transition:
    background-color 0.5s ease,
    color 0.5s ease,
    border-color 0.5s ease,
    transform 0.1s ease-out;
}

* {
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
